
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

/* Number Guessing */
.numberguesser{
    text-align: center;
    background-color: aliceblue;
    margin: 20px 0;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgba(5, 87, 23, 0.562);
}
.numberguesser h1, .numberguesser span{
    color: cornflowerblue;
}
.numberguesser h1 i{
    color: cadetblue;
}
.inputs{
    margin: 25px 0;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputs input{
    width: 75%;
    height: 30px;
    border-radius: 5px;
    padding: 19px 20px;
    box-shadow: 0px 0px 10px 2px rgba(58, 58, 58, 0.562);
}
.inputs button{
    width: 20%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3B82F6;
    color: aliceblue;
    transition: all 0.3s ease;
}
#hintbtn{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-weight: bold;
    font-size: 1.15rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #EAB308;
    color: aliceblue;
    transition: all 0.3s ease;
}
#newgamebtn{
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    font-weight: bold;
    font-size: 1.15rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #22C55E;
    color: aliceblue;
    transition: all 0.3s ease;
}
.inputs button:hover, #hintbtn:hover, #newgamebtn:hover{
    opacity: 0.7;
    transform: translateY(-2px);
    box-shadow: 0px 0px 6px 3px rgba(133, 133, 133, 0.562);
}
.guesses{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    gap: 12px;
}
.guesses p{
    padding: 5px;
    color: aliceblue;
    border-radius: 4px;
}
#lower{
    background-color: rgba(0, 162, 255, 0.726);
}
#upper{
    background-color: rgba(255, 0, 0, 0.612);
}
#correct{
    background-color: rgba(24, 197, 24, 0.648);
}

/* wack a mole */
.wackamole{
    text-align: center;
    background-color: aliceblue;
    margin: 20px 0;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgba(5, 87, 23, 0.562);
}
.wackamole h1{
    color: cornflowerblue;
}
.wackamole h1 i{
    color: cadetblue;
}
.scores{
    margin: 20px 0;
    background-color: rgb(39, 39, 128);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    padding: 15px 0;
}
.moles{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 105px 105px 105px;
    grid-template-rows: 105px 105px 105px;
    gap: 40px;
}
.moleback{
    background-color: #8B4513;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 6px 3px rgba(11, 84, 22, 0.562);
    position: relative;
    overflow: hidden;
}
.mole:active{
    background-color: rgb(252, 105, 105);
    transform: scale(0.8);
}
.mole{
    border: 2px solid rgb(26, 67, 21);
    width: 80px;
    height: 80px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    /* top: 10px; */
    top: 76px;
    left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    cursor: pointer;
    transition: all 0.1s ease;
    animation: 1s ease;
}
.eye{
    margin-top: 20px;
    position: relative;
    width: 13px;
    height: 13px;
    background-color: black;
    border-radius: 50%;
}
.eye:first-child{
    margin-left: 10px;
}
.eye:last-child{
    margin-right: 10px;
}
.molebtns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 20px;
}
.molebtns button{
    background-color: rgb(22, 107, 78);
    padding: 15px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 0px 0px 6px 3px rgba(133, 133, 133, 0.562);
    transition: all 0.3s ease;
}
#running{
    background-color: grey;
    cursor: not-allowed;
    display: none;
}
.molebtns button:last-child{
    background-color: rgb(137, 23, 23);
}
#startmolebtn:hover, #resetbtn:hover{
    opacity: 0.8;
    transform: translateY(-5px);
}

@keyframes appear {
    0%{
        top: 76px;
    }
    100%{
        top: 10px;
    }
}
@keyframes disappear {
    100%{
        top: 76px;
    }
    0%{
        top: 10px;
    }
}

/* Tic-Tac-Toe */
.tictactoe{
    text-align: center;
    background-color: aliceblue;
    margin: 20px 0;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgba(5, 87, 23, 0.562);
}
.tictactoe h1{
    color: cornflowerblue;
    margin-bottom: 10px;
}
.tictactoe h1 i{
    color: goldenrod;
}
.scorsXO{
    margin: 15px 0;
    padding: 15px 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cubes{
    background-color: #63834f6d;
    border-radius: 20px;
    margin-bottom: 40px;
    width: 100%;
    padding: 20px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px;
    gap: 20px;
    box-shadow: 0px 0px 6px 3px rgba(94, 171, 12, 0.338);
}
.cube{
    background-color: #2b8939;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 6px 3px rgba(94, 171, 12, 0.642);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
}
.cube:active{
    opacity: 0.8;
}
.XObtns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#newgameXO{
    width: 55%;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #3B82F6;
    color: aliceblue;
    box-shadow: 0px 0px 6px 3px rgba(27, 179, 218, 0.642);
    cursor: pointer;
    transition: all 0.3s ease;
}
#resetXO{
    width: 32%;
    margin-right: 20px;
    padding: 11px 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.95rem;
    background-color: crimson;
    color: aliceblue;
    box-shadow: 0px 0px 6px 3px rgba(125, 37, 37, 0.642);
    cursor: pointer;
    transition: all 0.3s ease;
}
#newgameXO:hover, #resetXO:hover{
    opacity: 0.9;
    transform: translateY(-5px);
}
#resultXO{
    margin-bottom: 20px;
    animation: bounce 1s ease infinite;
}
@keyframes bounce {
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
.winnercube{
    border: 3px solid goldenrod;
    background-color: #e9cd7b;
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 0, 0.642);
}





